<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Chat...</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container">
        <h2>Add New Chat 💬</h2>
        <form method="post" action="http://localhost:9090/chats/new">
                <input type="text" name="from" placeholder="From">
                <input type="text" name="to" placeholder="To">
                <input type="text" name="msg" placeholder="Message">
                <button>Send</button>
        </form>
    </div>
</body>
</html>