    <footer>
  <div>
    <h3>My Website</h3>
    <p>Simple footer example using only HTML.</p>
  </div>

  <div>
    <h4>Contact Info</h4>
    <p>Email: example@email.com</p>
    <p>Phone: +91 12345 67890</p>
  </div>
  
  <hr>
  <p>© 2026 My Website | All Rights Reserved</p>
</footer>
