<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Post</title>
</head>
<body>
    <h1>Here is the post of the user....</h1>
    <hr>
    <h3>Post-id : <%= post.id %></h3>
    <div>
        <h3>Name : <%= post.username %></h3>
        <h3>Content : <%= post.content %></h3>
    </div>
    <hr>
</body>
</html>